@model ChemistProject.Models.ChangeVisitListModel

@{
    ViewBag.Title = "Edit Visit List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Visit List</h2>

@using (Html.BeginForm("EditVisitList","Chemist",FormMethod.Post)) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ChangeVisitListModel</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.HiddenFor(model => model.ClientId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.VisitDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VisitDate)
            @Html.ValidationMessageFor(model => model.VisitDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OrderAmount)
            @Html.ValidationMessageFor(model => model.OrderAmount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderStatus)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OrderStatus)
            @Html.ValidationMessageFor(model => model.OrderStatus)
        </div>

        <p>
            <input type="submit" value="Save changes" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
