@model ChemistProject.Models.SearchModel

@{
    ViewBag.Title = "Search Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index","Chemist",FormMethod.Post)) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SearchModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <p>
            <input type="submit" value="Search" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
